body{
	font-family: 'proxima_nova_ltthin', Georgia, sans-serif;
	color: #FFFFFF;
}
#intro{
	min-height: 100vh;
	max-height: 100vh;
	min-width: 100vw;
	background: #000000; /* fallback for old browsers */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
}
#intro .letter{
	font-size: 100px;
	font-weight: 600;
}
#intro p{
	font-size: 20px;
}